<h1>Comments</h1>
<table class="table table-bordered table-striped">
  <tr>
    <th>Id</th>
    <th>User</th>
    <th>Content</th>
    <th>Commentable</th>
    <th>Updated_at</th>
    <th></th>
  </tr>
  <% @comments.each do |comment| %>
  <tr>
    <td><%= comment.id %></td>
    <td><%= comment.user.nickname if comment.user.nickname %> | <%= link_to comment.user.email, profile_path(comment.user) %></td>
    <td><%= comment.content %></td>
    <td><%= link_to [comment.commentable_type, comment.commentable.id], comment.commentable %></td>
    <td><%= comment.updated_at.strftime("%m/%d/%Y %I:%M%p") %></td>
    <td>
      <div class="span1">
        <%= link_to edit_admin_comment_path(comment), class: "btn btn-success" do %>
        <i class="icon-edit icon-white"> </i>
        <% end %>
      </div>
      <div class="span1">
        <%= link_to admin_comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" do %>
        <i class="icon-trash icon-white"></i>
        <% end %>
      </div>
    </td>
  </tr>
  <% end %>
</table>