<div class="row">
  <div class="span12">
    <div class="row">
      <div class="span12">
        <h4><strong><%= @post.title %></h4>
      </div>
    </div>
    <div class="row">
      <div class="span2">
        <%= link_to image_tag(@post.avatar.url(:medium)), post_path(@post), { class: 'thumbnail' } %>
        </a>
      </div>
      <div class="span10">
        <p>
          <%= @post.description %>
        </p>
      </div>
      <div class="span12">
       <%= raw @post.text %>
     </div>
     <div class="span12">
      <p></p>
      <p>
        <i class="icon-user"></i> by <a href="#"><%= @post.user.nickname == nil ? @post.user.email : @post.user.nickname %></a>
        | <i class="icon-calendar"></i> <%= @post.updated_at.strftime("%m/%d/%Y %I:%M%p") %>
        | <i class="icon-comment"></i> <a href="#">3 Comments</a>
        | <i class="icon-share"></i> <a href="#">39 Shares</a>
        | <i class="icon-tags"></i> Tags : <a href="#"><span class="label label-info">Snipp</span></a>
        <a href="#"><span class="label label-info">Bootstrap</span></a>
        <a href="#"><span class="label label-info">UI</span></a>
        <a href="#"><span class="label label-info">growth</span></a>
      </p>
    </div>
    <div class="span12">
      <%= render "comments/comments" %>
      <%= render "comments/form" %>
    </div>
  </div>
</div>
<hr>

<%= link_to 'Back', posts_path, class: 'btn' %>
