#Layer-1.Layer.35
  = image_tag "carousel/Layer-1.png", alt: "Layer 35", class: "pngimg"
  #Layer-2.Layer.36
    = image_tag "carousel/Layer-2.png", width: "1197", height: "391", alt: "Layer 36", class: "pngimg"
    #Layer-3.Layer.0
      = image_tag "carousel/Layer-3.png", width: "1020", height: "391", alt: "Layer 0", class: "pngimg"
      #Layer-4.Layer.5
        = image_tag "carousel/Layer-4.png", width: "940", height: "348", alt: "Layer 5", class: "pngimg"
        #Layer-5.Shape.10
          = image_tag "carousel/Layer-5.png", width: "902", height: "81", alt: "Shape 10", class: "pngimg"
          #Layer-11.Shape.2.copy.5
            = image_tag "carousel/Layer-11.png", width: "271", height: "48", alt: "Shape 2 copy 5", class: "pngimg"
            #Layer-12
              = image_tag "carousel/Layer-12.png", width: "191", height: "13", alt: "", class: "pngimg"
          #Layer-8.Shape.6.copy.2
            = image_tag "carousel/Layer-8.png", width: "42", height: "42", alt: "Shape 6 copy 2", class: "pngimg"
            #Layer-10
              = image_tag "carousel/Layer-10.png", width: "17", height: "12", alt: "", class: "pngimg"
          #Layer-7.Shape.6.copy
            = image_tag "carousel/Layer-7.png", width: "42", height: "42", alt: "Shape 6 copy", class: "pngimg"
            #Layer-9
              = image_tag "carousel/Layer-9.png", width: "17", height: "12", alt: "", class: "pngimg"
          #Layer-6
            = image_tag "carousel/Layer-6.png", width: "359", height: "55", alt: "", class: "pngimg"
  #p2c-edit{:style => "display: none;"}
  :javascript
    $('#p2c-edit').load('/app/p2cedit/p2cedit.html');