<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Slug:</b>
  <%= @post.slug %>
</p>

<p>
  <b>Description:</b>
  <%= @post.description %>
</p>

<p>
  <b>Text:</b>
  <%= raw(@post.text) %>
</p>

<p>
  <b>Published:</b>
  <%= @post.published %>
</p>


<%= link_to 'Edit', edit_admin_post_path(@post), class: "btn" %>
<%= link_to 'Back', admin_posts_path, class: "btn" %>