= simple_form_for(@post) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :text
    - if @post.new_record?
      = f.input :published, input_html: { checked: true }
    = f.input :created_at
    .field
    = f.label :tag_list, "Tags (separated by commas)"
    = f.text_field :tag_list

  .form-actions
    = f.button :submit
