- provide(:title, 'Listing posts')
%h1 Listing posts

%table
  %tr
    %th Title
    %th Text
    %th Published
    %th Created_at
    %th User
    %th Comments
    %th Published?
    %th Tags
    %th
    %th
    %th

  - @posts.each do |post|
    %tr
      %td= post.title
      %td= post.text
      %td= post.published
      %td= post.created_at
      %td= post.user.email
      %td= post.comments.count
      %td= post.published
      %td= post.tag_list
      %td= link_to 'Show', post
      %td= link_to 'Edit', edit_post_path(post)
      %td= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }

%br

= paginate @posts
