- provide(:title, 'Listing posts')
%h1 Список постов
- if params[:tag]
  %h2 
    Выборка по тегу: 
    = params[:tag]

%table
  %tr
    %th Title
    %th Текст
    %th Опубликован
    %th Дата создания
    %th Автор
    %th Комментарии
    %th Опубликован?
    %th Теги
    %th
    %th
    %th

  - @posts.each do |post|
    %tr
      %td= post.title
      %td= post.text[0..100]
      %td= post.published
      %td= post.created_at
      %td= post.user.email
      %td= post.comments.count
      %td= post.published
      %td= post.tag_list
      %td= link_to 'Show', post
      %td= link_to 'Edit', edit_post_path(post)
      %td= link_to 'Destroy', post, method: :delete, data: { confirm: 'Вы уверены?' }

%br

= paginate @posts
