- provide(:title, @post.title)
%p
  %b Title:
  = @post.title
%p
  %b Text:
  = @post.text
%p
  %b Published:
  = @post.published

%p
  %b Tags:
  = raw @post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')

= link_to 'Edit', edit_post_path(@post)
\|
= link_to 'Back', posts_path

= render "comments/comments"
= render "comments/form"