- provide(:title, @post.title)
%p
  %b Title:
  = @post.title
%p
  %b Текст:
  = @post.text
%p
  %b Опубликовать:
  = @post.published

%p
  %b Теги:
  = raw @post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')

= link_to 'Редактировать', edit_post_path(@post)
\|
= link_to 'Назад', posts_path

= render "comments/comments"
= render "comments/form"