- provide(:title, 'Список сегодняшних постов')
%h1 Список сегодняшних постов

%table
  %tr
    %th Title
    %th Текст
    %th Опубликован
    %th Дата создания
    %th Пользователь
    %th Комментарии
    %th
    %th
    %th

  - @posts.each do |post|
    %tr
      %td= post.title
      %td= post.text[0..100]
      %td= post.published
      %td= post.created_at
      %td= post.user.email
      %td= post.comments.count
      %td= link_to 'Show', post
      %td= link_to 'Edit', edit_post_path(post)
      %td= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }

%br

= paginate @posts
