.page-header
  %h1.logo
    = link_to "Тестовое задание", root_path
  %ul.userbar
    - if user_signed_in?
      %li
        = link_to current_user.email, edit_user_registration_path
    - else
      %li
        = link_to 'Регистрация', new_user_registration_path
    - if user_signed_in?
      %li
        = link_to 'Выйти', destroy_user_session_path, :method=>'delete'
    - else
      %li
        = link_to 'Войти', new_user_session_path