!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : "Application"
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render 'layouts/page_header'
    = render 'layouts/messages'
    .page-container
      .page-container-lcol
        = render 'layouts/page_menu'
        = render 'layouts/page_tags_cloud'
      .page-container-rcol
        .page-content
          = yield
      .page-container-end
