<!DOCTYPE html>
%html
%head
  %titleТестовое задание
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags
%body
  #header
    %h1
      = link_to "Тестовое задание", root_path

  #leftColumn
    = render 'layouts/navigation'

    %h2 Разделы
    %ul
      %li
        = link_to 'Добавить статью', new_post_path
      %li
        = link_to "Мои посты", myposts_path
      %li
        = link_to "Задание по верстке", statics_index_path

    #tags
      %h2 Облако тегов
      %a{:href => "#", :title => "XHTML"} XHTML
      %a{:href => "#", :title => "CSS"} CSS
      %a{:href => "#", :title => "Tutorials"} Tutorials
      %a{:href => "#", :title => "The CSS Tinderbox"} The CSS Tinderbox

  #centerColumn
    = render 'layouts/messages'
    = yield

